.qmake.stash
Makefile
Makefile.Release
Makefile.Debug
QmlPlayground.pro.user
QmlPlayground.pro.user.0b083da
/debug/*
/release/*
*.qmlc
object_script.QmlPlayground.*
.vscode/
*.autosave
resources_qmlcache.qrc
*.opt
